/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
figure{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
img{
    max-width:100%;
    height:auto;
}
*,*::before,*::after{
    box-sizing:border-box;
}
/* CSS reset END */
body{
	font-family:Helvetica, Arial;
    font-size:20px;
    background-color:rgb(227, 186, 188)
}
.wrap{
    max-width:1320px;
    margin:0 auto;
}
header{
    background-color:rgb(230, 126, 140);
    padding:10px 45px;
}
.title{
    display:flex;
    justify-content:space-between;
}
.title h1{
    font-size:24px;
    font-weight:bold;
    color:rgb(80, 12, 16);
}
.title ul{
    display:flex;
}
.title ul a{
    text-decoration:none;
    color:rgb(80, 12, 16);
    margin-left:16px;
}
.title ul a:hover{
    color:rgb(200, 46, 41);
}
.welcome{
    height:300px;
    background-color:rgb(240, 236, 233);
    text-align:center;
    line-height:300px;
}
.welcome h2{
    font-size:40px;
    font-weight:bold;
    color:#3D1101;
}
.minho{
    max-width:1200px;
    margin:0 auto;
    padding:50px 0px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.minho img{
    width:280px;
}
.minho p{
    text-align:center;
    color:rgb(80, 12, 16);
    background-color:rgb(240, 236, 233);
}
.img-text{
    width:23%;
    margin:0% 1%;
}